<div class="col-md-3 homeSidebar">
    <div class="category_block">
        <h3 class="lh-sm">Categories</h3>
        <ul class="list-group list-group-flush my-4">
            {% for category in categories %}
                {{  include('menu/components/sidebar_link_element.html.twig',
                        {'item': category, 'path': 'app_category_show' }
                )}}

            {% endfor %}
        </ul>
        <a href="{{ path('app_category_index') }}" class="btn btn-outline-success  ">Toutes les catégories<i
                class="bi bi-chevron-right"></i></a>
    </div>
    <div class="best_sellers_block mt-4">
        <h3 class="lh-sm">Meilleures ventes pouet</h3>
        <ul class="list-group list-group-flush my-4">
            {% for item in bestSellers %}
                {{  include('menu/components/sidebar_link_element.html.twig',
                        {'item': item, 'path': 'app_product_show' }
                )}}
            {% endfor %}
        </ul>
        <a href="{{ path('app_product_index') }}" class="btn btn-outline-success  ">Plus de produits<i
                class="bi bi-chevron-right"></i></a>
    </div>
    <div class="best_rate_block mt-4">
        <h3 class="lh-sm">Les mieux notés</h3>
        <ul class="list-group list-group-flush my-4">
            {% for item in bestRateProducts %}
                {{  include('menu/components/sidebar_link_element.html.twig',
                        {'item': item, 'path': 'app_product_show' }
                )}}
            {% endfor %}
        </ul>
        <a href="{{ path('app_product_index') }}" class="btn btn-outline-success  ">Plus de produits<i
                class="bi bi-chevron-right"></i></a>
    </div>
</div>