{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<div class="row product_container mb-5">
    <div class="col-12 col-md-6 product_visual">
        {% set count = 0 %}
        {% for image in product.image %}
            <a href="{{ image.url }}" data-lightbox="product-gallery" data-title="{{ product.name | escape }}">
                <img src="{{ image.url }}" class="card-img-top" alt="{{ product.name | escape }}" >
            </a>
        {% endfor %}
    </div>
    <div class="col-12 col-md-6 product_details">
        <div class="product_detail--title">
            <h1>{{product.name | capitalize}}</h1>
        </div>
        <div class="product_detail--rate">
            <p>Note :
                {% for i in 1..5 %}
                    {% if i <= product.rate %}
                        <span class="text-warning">&#9733;</span> {# Étoile pleine #}
                    {% else %}
                        <span>&#9734;</span> {# Étoile vide #}
                    {% endif %}
                {% endfor %}
                ( {{ product.rate }} / 5 )
            </p>
        </div>
        <div class="product_detail--description my-5">
            <p class="m-0">{{product.description | capitalize}}</p>
        </div>
        <div class="product_detail--details mb-5">
            <ul class="list-unstyled">
                <li><span class="text-muted">SKU</span> : {{ product.sku }}</li>
                <li><span class="text-muted">Catégorie</span> : {{ product.category.name }}</li>
                <li><span class="text-muted">Disponibilité</span> :
                    {{ product.isActive and product.stockQuantity > 0 ? 'En stock ' ~ '(' ~  product.stockQuantity ~ ')' : 'Non disponible' }}
                </li>
                <li><span class="text-muted">Zone de livraison</span> : {{ product.deliveryArea  }}</li>
                <li><span class="text-muted">Délai de livraison</span> : {{ product.deliveryDelay }} jour(s) ouvré</li>
            </ul>
        </div>
        <div class="product_detail--price-to-cart d-flex justify-content-between align-items-center">
            <div class="product_detail--price__price d-flex align-items-center">
                {% if isOnSale %}
                    <h2 class="fw-bold text-success d-inline m-0">{{ salePrice|number_format(2, '.', ',') }} €</h2>
                    <p class="text-decoration-line-through text-muted d-inline m-0 ms-4">{{ originalPrice|number_format(2, '.', ',') }} €</p>
                {% else %}
                    <h2 class="fw-bold text-success">{{ originalPrice|number_format(2, '.', ',') }} €</h2>
                {% endif %}
            </div>
            <div class="quantity-cart d-flex ">
                <div class="product_quantity d-flex align-items-center me-2 justify-content-end">
                    <label for="quantity">Quantité &nbsp;</label>
                    <input id="quantity" type="text" value="1" readonly class="product_quantity--input w-25">
                </div>
                <div class="product_detail--to-cart">
                    <a href="{{ path('app_home', {'id': product.id}) }}" class="btn btn-success"> + Ajouter au
                        panier</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if product.testimonials is defined and product.testimonials %}
<div class="col-12 product_testimonials my-5">
    <div class="row">
        <h2 class="text-start mb-4">Avis des clients</h2>
        <ul class="list-group">
        {% for testimonial in product.testimonials %}
            <li class="rounded list-group-item" >
                <p class="m-0">{{testimonial.content}}</p>
                <small>-- <b>{{testimonial.user.firstName ~ '  ' ~ testimonial.user.lastName}}</b></small>
            </li>
        {% endfor %}
        </ul>
    </div>  
</div>
{% endif %}
{% if relatedProducts is defined %}
<div class="row product_related_container">
    <div class="row mb-4">
        <h2 class="text-start">Articles similaires dans "{{ product.category.name }}"</h2>
    </div>
    <div class="row ">

        {% for relatedProduct in relatedProducts %}
        {{
                    include('home/components/product-card.html.twig',
                        {
                            'item': relatedProduct,
                            'count': count|default(0),
                            'isFromHeadlines': true
                        })
                }}
        {% set count = count + 1 %}
        {% endfor %}
    </div>
</div>
{% endif %}





<a href="{{ path('app_product_index') }}">back to list</a>

<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

{{ include('product/_delete_form.html.twig') }}
{% endblock %}