<nav class="container navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for category in categories %}
            <li class="nav-item me-4 dropdown">
                <a class="nav-link menu-category dropdown-toggle" href="#" id="navbarDropdownMenuLink{{ category.id }}"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ category.name }}
                </a>
                {% if category.products|default([]) is not empty %}
                <ul class="dropdown-menu bg-secondary " aria-labelledby="navbarDropdownMenuLink{{ category.id }}">
                    {% for product in category.products %}
                    <li><a class="dropdown-item"
                            href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>